<? include "contact-form/form.contact-form.php"; ?>
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

    <title>刘壮的个人简历</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="robots" content="index,follow"/>

    <link href="style/default.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="style/google-map.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="style/print.css" rel="stylesheet" type="text/css" media="print"/>
    <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css"/>

    <!--[if (gte IE 6)&(lte IE 8)]>
<script type="text/javascript" src="js/html5.js"></script>
<script type="text/javascript" src="js/selectivizr-min.js"></script>
<link rel="stylesheet" href="css/ie_7.css" type="text/css" />
<![endif]-->

    <script src="js/jQuery.min.js" type="text/javascript"></script>
    <script src="js/functions.js" type="text/javascript"></script>
    <script src="contact-form/contact-form.js" type="text/javascript"></script>

    <!-- Image Gallery -->
    <script type="text/javascript" src="fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
    <script type="text/javascript" src="fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="fancybox/jquery.fancybox-1.3.4.css" media="screen"/>

    <!-- Popup Contact Form -->
    <script src="js/popup.js" type="text/javascript"></script>


    <!-- Style Swticher -->
    <script type="text/javascript" src="js/styleswitch.js"></script>
    <link rel="stylesheet" type="text/css" href="style/big.css" title="big" media="screen"/>
    <link rel="alternate stylesheet" type="text/css" href="style/blue.css" title="blue" media="screen"/>
    <link rel="alternate stylesheet" type="text/css" href="style/blue2.css" title="blue2" media="screen"/>
    <link rel="alternate stylesheet" type="text/css" href="style/br.css" title="br" media="screen"/>
    <link rel="alternate stylesheet" type="text/css" href="style/brown.css" title="brown" media="screen"/>
    <link rel="alternate stylesheet" type="text/css" href="style/bs.css" title="bs" media="screen"/>
    <link rel="alternate stylesheet" type="text/css" href="style/cgrey.css" title="cgrey" media="screen"/>
    <link rel="alternate stylesheet" type="text/css" href="style/dark.css" title="dark" media="screen"/>
    <link rel="alternate stylesheet" type="text/css" href="style/orange.css" title="orange" media="screen"/>
    <link rel="alternate stylesheet" type="text/css" href="style/purple.css" title="purple" media="screen"/>
    <link rel="alternate stylesheet" type="text/css" href="style/white.css" title="white" media="screen"/>
    <link rel="alternate stylesheet" type="text/css" href="style/yellow.css" title="yellow" media="screen"/>
    <link rel="alternate stylesheet" type="text/css" href="style/mini.css" title="mini" media="screen"/>


    <style type="text/css">
        /* Style Sheet Switcher */

        .onpage-style-switcher {
            width: 40px;
            position: absolute;
            margin-top: 170px;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #fff;
        }

        .onpage-style-switcher li {
            padding: 0px;
            margin: 1px 0px 0px 0px;
        }

        .onpage-style-switcher li a {
            color: #fff;
            text-shadow: none;
        }

        .onpage-style-switcher li a div:hover {
            padding-right: 20px;
        }
    </style>

    <link href="style/popup.css" rel="stylesheet" type="text/css" media="screen"/>

</head>

<body>


<ul class="onpage-style-switcher" hidden>
    <li><a href="style/style=white" rel="white" class="styleswitch">
        <div style="background-color:#5FB053; height:25px; width:30px;"></div>
    </a></li>
    <li><a href="style/style=big" rel="big" class="styleswitch">
        <div style="background-color:#1f3862; height:25px; width:30px;"></div>
    </a></li>
    <li><a href="style/style=yellow" rel="yellow" class="styleswitch">
        <div style="background-color:#fdff01; height:25px; width:30px;"></div>
    </a></li>
    <li><a href="style/style=br" rel="br" class="styleswitch">
        <div style="background-color:#9a1b1f; height:25px; width:30px;"></div>
    </a></li>
    <li><a href="style/style=bs" rel="bs" class="styleswitch">
        <div style="background-color:#eb374b; height:25px; width:30px;"></div>
    </a></li>
    <li><a href="style/style=brown" rel="brown" class="styleswitch">
        <div style="background-color:#2f2913; height:25px; width:30px;"></div>
    </a></li>
    <li><a href="style/style=mini" rel="mini" class="styleswitch">
        <div style="background-color:#dedede; height:25px; width:30px;"></div>
    </a></li>
    <li><a href="style/style=cgrey" rel="cgrey" class="styleswitch">
        <div style="background-color:#3c3d3f; height:25px; width:30px;"></div>
    </a></li>
    <li><a href="style/style=orange" rel="orange" class="styleswitch">
        <div style="background-color:#bd492a; height:25px; width:30px;"></div>
    </a></li>
    <li><a href="style/style=dark" rel="dark" class="styleswitch">
        <div style="background-color:#111111; height:25px; width:30px;"></div>
    </a></li>
    <li><a href="style/style=blue2" rel="blue2" class="styleswitch">
        <div style="background-color:#359ccf; height:25px; width:30px;"></div>
    </a></li>
    <li><a href="style/style=purple" rel="purple" class="styleswitch">
        <div style="background-color:#d34699; height:25px; width:30px;"></div>
    </a></li>
    <li><a href="style/style=blue" rel="blue" class="styleswitch">
        <div style="background-color:#90d3d9; height:25px; width:30px;"></div>
    </a></li>
</ul>


<div id="mydiv" class="success" style="display:none;">

    Thank you for contacting me!

</div>

<div style="clear:both;"></div>

<!--map start-->
<div id="map-wrapper">

    <div id="topLine"></div>

    <div id="topPanel">
        <div id="googleMap" class="googleMap" data-zoom="8" data-latitude="31.229009" data-longitude="73.859312"
             data-title="Rana Hunting Resort Restaurant">
        </div>

        <div class="gwrap">

            <div id="topPanelHandle" hidden><span>Map</span></div>

        </div>


    </div>
</div>
<!--map ends-->

<!--header start-->
<header class="header">


    <div class="headerwrapper">


        <h1>简历</h1>

        <div class="clearfix"></div>
        <br>
        <h2>期望职位：python 后台</h2>
    </div>


</header>
<!--header end-->


<!--wrapper start-->
<div id="wrapper">


    <!--contents start-->
    <section id="contents">


        <!--main start-->
        <div id="main">

            <!--section start-->
            <div class="section">

                <h5>专业技能</h5>


                <!--work_item start-->
                <div class="work_item">

                    {#               <div class="year">2009 - Date</div>#}

                    <h3>网站框架</h3>

                    <h6>Flask</h6>
                    <br/>

                    <p> 熟悉Flask框架，会使用blueprint实现不同路由拆分，降低耦合度。会使用ORM封装不同数据库，提高使用数据库灵活性。
                        了解http协议，知道常用函数的实现机制，知道cookie、session的用法差异。
                    </p>


                </div>
                <!--portfolio_item end-->


                <!--work_item start-->
                <div class="work_item">

                    {#               <div class="year">2007 - 2009</div>#}
                    <h3>前端技术</h3>

                    <h6>HTML CSS JavaSript jQuery Bootstrap AJAX JSON</h6>

                    <br/>

                    <p>
                        了解前端技术，能读懂并按需求修改HTML、CSS、JavaScript，会使用jQuery以及Bootstrap样式，会写AJAX，知道JSON格式
                    </p>


                </div>
                <!--portfolio_item end-->


                <!--work_item start-->
                <div class="work_item">

                    {#             <div class="year">2007 - 2009</div>#}
                    <h3>数据库</h3>


                    <h6>MYSQL SQLite mongodb</h6>


                    <br/>
                    <p>会使用MYSQL、SQLite、mongodb数据库， 会写SQL语句， 会防止SQL注入</p>


                </div>
                <!--portfolio_item end-->


                <!--work_item start-->
                <div class="work_item">

                    {#               <div class="year">2006 - 2007</div>#}
                    <h3>linux</h3>


                    <div class="clearfix"></div>


                    <h6>Debian Ubuntu</h6>


                    <br/>
                    <p>会使用linux操作系统进行常规操作，配置权限、查看运行程序、查看网络端口使用情况，会编写shell脚本，会配置Nginx、 gunicorn </p>


                </div>
                <!--portfolio_item end-->


                <!--work_item start-->
                <div class="work_item">

                    {#                <div class="year">2007 - 2008</div>#}
                    <h3>其他</h3>


                    {#            <h6>egrappler.com</h6>#}

                    <br/>

                    <p>熟悉网络编程，会使用socket编程， 了解http协议， 了解基本的网络安全知识， 会写爬虫，会使用Pyquery解析页面。会使用git工具</p>


                </div>
                <!--portfolio_item end-->


            </div>
            <!--section end-->

            <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" title="模板之家">模板之家</a></div>
            <div class="clearfix"></div>
            <br/>
            <!--section start-->
            <div class="section">

                <h5>项目经历</h5>

                <!--portfolio_item start-->
                <div class="portfolio_item">


                    <h3>智能家居系统</h3>


                    <p><a href="#">yezixigua3.com</a></p>


                    <br>

                    <p>
                        负责全部软硬件设计，包括网站的搭建、网站和网关的TCP通信、树莓派网关的软件编写，以及网关和控制板的RF通信、内部节点控制板的软硬件设计。
                        网站最初手写前端页面，配合PHP+nginx完成整个的搭建，通过socket连接家中的网关，进而控制家中内部节点。后续学习转到Python， 使用Flask重写网站架构。
                        购买树莓派作为网关平台，通过NRF24l01模块实现内部节点的无线通信。独立实现内部控制板的硬件选型、原件采购、PCB打板、焊接、
                        调试嵌入式代码从而控制家中电器。
                    </p>


                </div>
                <!--portfolio_item end-->


                <!--portfolio_item start-->
                <div class="portfolio_item">
                    {#            <div class="winner_tag">Winner</div>#}
                    <h3>网络爬虫</h3>

                    <h6>pyquery</h6>

                    <br/>

                    <p>由于喜欢看小说，又不想充钱，学会了使用爬虫爬取小说全文，使用pyquery或正则表达式提取标题、章节、正文等元素，重新组织成小说原文。</p>


                </div>
                <!--portfolio_item end-->


                <!--portfolio_item start-->
                <div class="portfolio_item">
                    <h3>恩智浦飞思卡尔智能车竞赛</h3>


                    {#            <h6>blend.pk</h6>#}

                    <br/>

                    <p> 负责智能车硬件设计和图像识别算法的编写，包括摄像头驱动、DMA、图像矫正，以及调试时图像显示在LCD显示屏上和存入SD卡等。
                        比赛内容是智能车通过摄像头读取路径信息，沿相应路径移动，比拼跑完整个赛道的耗时。
                        获2015年恩智浦飞思卡尔智能车全国二等奖
                    </p>


                </div>
                <!--portfolio_item end-->


                <!--portfolio_item start-->
                <div class="portfolio_item">
                    <h3>瑞萨电子设计竞赛</h3>

                    {#            <h6>name here</h6>#}

                    <br/>

                    <p>负责部分软件代码的编写。主控板上设计双MCU交互，其中一核专门负责图像处理，另一核负责其他全部的事物，包括主要的控制进程，
                        以及九轴传感器的姿态读取解析、四轴飞行器姿态控制、调用图像处理结果、偏移姿态角进行移动、高度控制等
                    </p>


                </div>
                <!--portfolio_item end-->


                <!--portfolio_item start-->
                <div class="portfolio_item">
                    {#              <div class="winner_tag">Winner</div>#}
                    <h3>100G长距光纤通信模块</h3>

                    <h6>HW</h6>

                    <br/>

                    <p>
                        拉通周边部门（软件、软测、硬测、装备、结构、工艺）确定项目方案以及测试需求，准备测试物料，导入生产加工，推动测试部开展测试，
                        定位问题（研发测试和产线加工问题），修订方案至产品稳定，生产上量加工。
                    </p>


                </div>
                <!--portfolio_item end-->

            </div>
            <!--section end-->


        </div>
        <!--main end-->


        <!--sidebar start-->
        <aside id="sidebar">

            <!--section start-->
            <div class="section">

                <h5>个人资料</h5>


                <!--Contact_Info_items start-->
                <div class="contact_Info_items">

                    <ul>

                        <li class="pdf_icon"><h6>姓名： 刘壮</h6></li>

                        <li class="twitter_icon"><h6>年龄： 25</h6></li>

                        <li class="locate_icon"><h6>性别： 男</h6></li>

                        <li class="msg_icon"><h6>手机： 15818661940</h6></li>

                        <li class="skype_icon"><h6>邮箱： 541889983@qq.com</h6></li>


                        <li class="web_icon" hidden><h6 hidden>姓名： 刘壮</h6></li>

                    </ul>


                </div>
                <!--Contact_Info_items end-->

            </div>
            <!--section end-->


            <!--section start-->
            <div class="section">


                <h5>教育经历</h5>

                <!--education_items start-->
                <div class="education_items">

                    <h6 class="bold">湖南大学 本科 985</h6>


                    <p>电子信息工程</p>


                    {#           <br />#}
                    {#              #}
                    {#               <h6 class="bold">Post Graduate Software Engineering)</h6>#}
                    {#              #}
                    {#              #}
                    {#              <p>College of Engineering and Internet</p>#}


                </div>
                <!--education_items end-->


            </div>
            <!--section end-->


            <div class="clearfix"></div>


            <!--section start-->
            <div class="section">

                <h5>技能</h5>


                <!--skills start-->
                <div class="skills">


                    <ul>
                        <li>Python</li>

                        <li>JavaScript</li>


                        <li>C</li>


                        <li>MySQL</li>

                        <li>mongodb</li>


                        <li>AJAX</li>
                    </ul>

                    <br/>

                    <ul>

                        <li>Linux</li>

                        <li>Flask</li>

                        <li>PyCharm</li>


                        <li>Allegro</li>

                        <li>Altium Designer</li>

                        <li>Cadence</li>
                    </ul>

                    <div class="clearfix"></div>
                    <br/>

                    <ul>


                    </ul>


                </div>
                <!--skills end-->


                <!--skills start-->
                <div class="skills">


                    <ul>
                        <li>HTML</li>

                        <li>CSS</li>


                        <li>SQLite</li>


                        <li>jQuery</li>

                        <li>Git</li>


                        <li>Bootstrap</li>


                    </ul>


                </div>
                <!--skills end-->


            </div>
            <!--section end-->


            <div class="clearfix"></div>


            <!--section start-->
            <div class="section">

                <h5>工作经历</h5>


                <!--languages start-->
                <div class="languages">


                    <!--skills start-->
                    <div class="skills" width="">


                        <li><p>华为 硬件工程师</p>
                            <h6>2016 - 2018</h6>

                    </div>
                    <div class="clearfix"></div>
                    <block type="">
                        <li><p>职责业绩：</p>
                        <li><p>1、主导项目开发，协调周边部门完成了一个100G光模块项目从设计到量产</p>
                        <li><p>2、所属项目的问题定位、生产加工处理、UT测试、资源协调</p>
                    </block>


                    <!--skills end-->


                </div>
                <!--section end-->


            </div>

            <!--languages end-->


            {#               <div class="clearfix"></div>#}
            {#              #}
            {#              #}
            {#              <!--section start-->#}
            {#             <div class="section">#}
            {#             #}
            {#              <h5>References</h5>#}
            {#              #}
            {#              #}
            {#              #}
            {#              <!--references start-->#}
            {#              <div class="references">#}
            {#              #}
            {#              #}
            {#               <h6 class="bold">Robert Abram</h6>#}
            {#              #}
            {#              #}
            {#               <ul>#}
            {#              <li>Product Manager - ABC Corporation</li>#}
            {#              #}
            {#              </ul>#}
            {#             <br />#}
            {#              #}
            {#              <h6 class="bold">David Cameron</h6>#}
            {#              #}
            {#              #}
            {#              <ul>#}
            {#              <li>Prime Minister - UK</li>#}
            {#              #}
            {#              </ul>#}
            {#              #}
            {#               <br />#}
            {#              #}
            {#              <h6 class="bold">Luka Nice</h6>#}
            {#              #}
            {#              #}
            {#              <ul>#}
            {#              <li>CEO - HDM Group</li>#}
            {#              #}
            {#              </ul>#}
            {#              #}
            {#              #}
            {#              </div>#}
            {#              <!--references end-->#}
            {#            #}
            {#              #}
            {#             #}
            {#             #}
            {#             </div>#}
            {#             <!--section end-->#}
            {#             #}

            <div class="clearfix"></div>


            <!--section start-->
            <div class="section">

                <h5>获奖</h5>


                <!--award start-->
                <div class="award">


                    <ul>

                        <li><h6>2015年恩智浦飞思卡尔智能车全国二等奖 </h6></li>

                        <li><h6>本科专业排名前5% </h6></li>

                        <li><h6>优秀毕业设计 </h6></li>


                    </ul>


                </div>
                <!--award end-->


            </div>
            <!--section end-->


            <div class="clearfix"></div>


            <!--section start-->
            <div class="section" id="selected-works">

                <h5>项目展示</h5>


                <!--my_best_work start-->
                <div class="my_best_work">

                    <ul class="gallery">


                        <li><a href="http://193.112.214.243:3000"><img src="images/thumbnails/work_img_01.gif"
                                                                       width="160px" height="120px"
                                                                       alt="Awesome Painting"/></a></li>

                        {#                <li><a href="images/fullscreen/2.jpg" rel="gallery" title="This is an example title"><img src="images/thumbnails/work_img_02.gif" width="76px" height="76px" alt="Painting" /></a></li>#}
                        {#                #}
                        {#                <li class="last"><a href="images/fullscreen/3.jpg" rel="gallery" title="I love different titles"><img src="images/thumbnails/work_img_03.gif" width="76px" height="76px" alt="Character Design" /></a></li>#}
                        {#                #}
                        {#                <li><a href="images/fullscreen/4.jpg" rel="gallery" title="Lovely work!"><img src="images/thumbnails/work_img_04.gif" width="76px" height="76px" alt="Award Winning Character" /></a></li>#}
                        {#                #}
                        {#                <li><a href="images/fullscreen/5.jpg" rel="gallery" title="Awarded a shield on this"><img src="images/thumbnails/work_img_05.gif" width="76px" height="76px" alt="Beautiful" /></a></li>#}
                        {#                #}
                        {#                <li class="last"><a href="images/fullscreen/6.jpg" rel="gallery" title="Beautiful!!!"><img src="images/thumbnails/work_img_06.gif" width="76px" height="76px" alt="Character Painting" /></a></li>#}

                    </ul>


                </div>
                <!--my_best_work end-->


            </div>
            <!--section end-->


            {##}
            {#              <!--section start-->#}
            {#             <div class="section" id="twitter_section">#}
            {##}
            {#              <h5>Twitter Feed</h5>#}
            {##}
            {##}
            {##}
            {#              <!--Twitter start-->#}
            {#              <div class="twitter_feed">#}
            {#              	<div id="tweet1">#}
            {#                     	<p>loading tweets...</p>#}
            {#                    </div>#}
            {#              </div>#}
            {#              <!--Twitter end-->#}
            {##}
            {##}
            {##}
            {##}
            {#             </div>#}
            {#             <!--section end-->#}
            {##}


            <!-- section start -->
            {##}
            {##}
            {#             <div class="section" >#}
            {##}
            {#<h5>Testimonials</h5>#}
            {##}
            {#<div class="testimonialWidget">#}
            {#					<ul class="testimonialList">#}
            {#						<li class="current">#}
            {#							<blockquote>Out of clutter, find Simplicity. From discord, find Harmony. In the middle of difficulty lies Opportunity.</blockquote>#}
            {#							<cite>Albert Einstein</cite>#}
            {#						</li>#}
            {#						<li>#}
            {#							<blockquote>Lorem ipsum dolor sit amet consectur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</blockquote>#}
            {#							<cite>Jane Doe</cite>#}
            {#						</li>#}
            {#						<li>#}
            {#							<blockquote>Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.</blockquote>#}
            {#							<cite>John Doe</cite>#}
            {#						</li>#}
            {#						<li>#}
            {#							<blockquote>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</blockquote>#}
            {#							<cite>Unknown</cite>#}
            {#						</li>#}
            {#					</ul>#}
            {#					<div class="testimonialDetail cf">#}
            {#						<span class="testimonialArrows cf">#}
            {#							<span class="arrowLeft inactive"></span>#}
            {#							<span class="arrowRight"></span>#}
            {#						</span>#}
            {#						<span class="testimonialAuthor"></span>#}
            {#					</div>#}
            {#				</div>#}
            {##}
            {#</div>#}
            {##}
            {##}
            {#             <!-- section ends -->#}


        </aside>
        <!--sidebar end-->


        <div style="clear:both;"></div>

    </section>
    <!--contents end-->

</div>
<!--wrapper end-->


<script src="js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">

    $(document).ready(function () {
        $("a[rel=gallery]").fancybox({
            'transitionIn': 'none',
            'transitionOut': 'none',
            'titlePosition': 'over',
            'titleFormat': function (title, currentArray, currentIndex, currentOpts) {
                return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
            }
        });


        $('#bandar').css('display', 'none');
        var sentParts = window.location.href.toString().split('?');
        if (sentParts.length > 1)
            if (sentParts[1] = 'sent') {
                $('#mydiv').css('display', '');
                setTimeout(function () {
                    $('#mydiv').fadeOut('fast');
                }, 3000);
            }


    });
</script>
<script type="text/javascript" src="js/twitter.js"></script>


<!-- Contact Form Start -->

<div id="popupContact">
    <a id="popupContactClose"><img src="images/x.gif" alt="Close"/></a>
    <h2>Lets Meet!</h2>
    <p id="contactArea">
        <div id="contact-form">

            <form name="contact" action="<?=$_SERVER['PHP_SELF']?>" method="post" onSubmit="return validateForm();">
                <table cellpadding="8" cellspacing="10">
                    <tr>
                        <td><label>Your Name <span class="req">*</span></label></td>

                    </tr>
                    <tr>
                        <td><input type="text" id="sender_name" name="sender_name"/></td>
                    </tr>

                    <tr>
                        <td><label>Your E-Mail <span class="req">*</span></label></td>
                    </tr>

                    <tr>
                        <td><input type="text" id="sender_email" name="sender_email"/></td>
                    </tr>

                    <tr>
                        <td><label>Message </label></td>
                    </tr>

                    <tr>
                        <td><textarea id="sender_message" name="sender_message" cols="" rows=""
                                      style="width:380px; height:80px;"></textarea></td>
                    </tr>

                    <tr>
                        <td>
                            <input type="submit" name="submitForm" value="Submit" class="button m grey-gloss"/>
                            <span id="bandar"><img src="images/loader.gif" alt="Progress indicator..."/></span>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4">
    <p id="form_errors"></p>
    <p id="form_thanks"></p>
    </td>
    </tr>
    </table>
    </form>

</div>


</p>
</div>
<div id="backgroundPopup"></div>

<!-- Contact Form End -->


</body>
</html>
